version: 2
updates:
- package-ecosystem: maven
  directory: "/"
  schedule:
    interval: daily
    time: "04:00"
  open-pull-requests-limit: 10
  ignore:
  - dependency-name: javax:javaee-api
    versions:
    - ">= 8.0.1.a"
    - "< 8.0.2"
