<?xml version="1.0" encoding="UTF-8"?>
<server description="defaultServer">
    <featureManager>
        <feature>beanValidation-2.0</feature>
        <feature>cdi-2.0</feature>
        <feature>jaxrs-2.1</feature>
        <feature>jsp-2.3</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint"
                  httpPort="${default.http.port}"
                  httpsPort="${default.https.port}"
    />

    <application id="openliberty-mvc"
                 location="${project.build.directory}/openliberty-mvc.war"
                 name="openliberty-mvc"
                 type="war"
                 context-root="/"
    />
</server>

